@charset "utf-8";
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 62.5%;
  font-family: STHeitiSC-Light, serif;
}

header {
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
}

a, input, button {
  background: none;
  border: none;
  outline: none;
  &:focus {
  outline: none;
  }
}

p {
  margin: 0;
}

@mixin w-h($w:0,$h:0) {
  width: $w;
  height: $h;
}

@mixin display {
  display: flex;
  align-items: center;
}

.top {
  @include w-h(100%, 4.4rem);
  background-color: #5FC0CD;
  margin: auto;
  padding: 0;
  @include display;
}

.title {
  @include display;
  margin: auto;
  @include w-h(14.3rem, 3.5rem);
  z-index: 100;
}

.master {
  @include w-h(7.7rem, 3.5rem);
  background-color: #55A8B3;
  font-size: 1.7rem;
  color: #FFFFFF;
  border-radius: 0.5rem;
  line-height: 3.5rem;
}

.servant {
  @include w-h(7.2rem, 3.5rem);
  margin-left: -.5rem;
  background-color: #FFF;
  font-size: 1.7rem;
  color: #5FC0CD;
  border-radius: 0.5rem;
  line-height: 3.5rem;
}

.map {
  position: absolute;
  @include w-h(2.1rem, 2.2rem);
  right: 1.5rem;
  padding: 0;
  background: url("sprites.png") no-repeat -118px 0;
  z-index: 10;
}

main {
  width: 100%;
  margin: 6rem 0;
}

nav {
  position: fixed;
  width: 100%;
  top: 4.4rem;
  left: 0;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.dropdown, .dropdown-2 {
  position: relative;
  width: 33.33%;
  padding: .9rem;
  font-size: 1.4rem;
  color: #999999;
  cursor: pointer;
  border-bottom: 1px solid #E1E5E7;
}

.btn-drop {
  width: 100%;
  position: relative;
  display: inline-block;
}

.btn-content {
  position: absolute;
  width: 100%;
  display: none;
  background-color: #fff;
  margin-top: 1rem;
  left: 0;
  text-align: center;
}

.btn-drop:after {
  position: absolute;
  @include w-h(0, 0);
  content: "";
  border-left: 3.5px solid transparent;
  border-right: 3.5px solid transparent;
  border-top: 4px solid #AFBAC0;
  right: .6rem;
  top: 50%;
  margin-top: -1px;
}

.btn-content a {
  display: block;
  text-decoration: none;
  font-size: 1.4rem;
  color: #999999;
  margin-top: 1rem;
}

.dropdown:hover .btn-content, .dropdown-2:hover .btn-content {
  display: block;
}

.dropdown:after {
  position: absolute;
  @include w-h(1px, 2.2rem);
  content: "";
  background-color: #AFBAC0; //浏览器不支持时显示
  background-image: linear-gradient(#F8F8FF, #AFBAC0, #F8F8FF);
  right: 0;
}

main {
  width: 100%;
  margin-top: 9rem;
  margin-bottom: 6rem;
  font-family: HiraginoSansGB-W3, serif;
}

.up p, .middle p, .bottom p {
  white-space: nowrap; //不换行
  text-overflow: ellipsis; //文字隐藏时出现省略号
  overflow-x: hidden; //修剪内容
}

.content {
  width: 100%;
  margin: 6rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list {
  @include w-h(100%, 9rem);
  border-bottom: 1px solid #E1E5E7;
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
}

.up {
  @include display;
}

main .date {
  @include w-h(1.2rem, 1.2rem);
  background: url("sprites.png") no-repeat -36px 0;
}

.word-date {
  margin-left: 0.8rem;
  font-size: 1.2rem;
  font-family: HiraginoSansGB-W3, serif;
  color: #999999;
}

.middle {
  @include display;
  justify-content: space-between;
}

.num-date {
  font-size: 1.4rem;
  color: #333333;
  margin: 0.5rem;
}

.price {
  font-size: 1.5rem;
  color: #E63B0E;
  margin-left: auto;
  margin-right: 1.1rem;
}

.arrow-main {
  margin-right: 1.6rem;
}
.arrow {
  @include w-h(1.2rem, 1.2rem);
  border-top: 0.2rem solid #5FC0CD;
  border-right: 0.2rem solid #5FC0CD;
  transform: rotate(45deg);
}

main .bottom {
  @include display;
}

.site {
  @include w-h(1rem, 1.2rem);
  background: url("sprites.png") no-repeat 0 0;
}

footer {
  position: fixed;
  @include w-h(100%, 5rem);
  @include display;
  left: 0;
  bottom: 0;
  padding: 0 8.3rem;
  background-color: #F8FAFB;
  border-top: 1px solid #DBE5E7;
  justify-content: space-between;
}

.home {
  @include display;
  flex-direction: column;
}

.mine {
  @include display;
  flex-direction: column;
}

.edit {
  @include w-h(4.7rem, 4.7rem);
  margin-top: 0.2rem;
  margin-bottom: 0.1rem;
  background: url("sprites.png") no-repeat -213px 0;
}

.icon {
  @include w-h(2.3rem, 2rem);
  margin-top: 0.6rem;
  background: url("sprites.png") no-repeat -159px 0;
}

.icon-2 {
  @include w-h(2.1rem, 2.1rem);
  margin-top: 0.5rem;
  background: url("sprites.png") no-repeat -77px 0;
}

.word {
  font-size: 1rem;
  color: #5FC0CD;
  margin-top: 0.8rem;
}

.word-1 {
  @extend .word;
  color: #999999;
}









